/*!
 * Owner: SL Product Demo v1.0 (http://sproutlogix.com)
 * Author: Dhanaji Patil and Chirag Sadvilkar
 */
 body {
  font-family: 'Avenir','Source Sans Pro', sans-serif;
  color: #000;
  background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.5em;
}
a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover {
  text-decoration: none;
}
a.light-link {
  color: #fff;
  opacity: 0.8;
}
a.light-link:hover {
  opacity: 1;
}
strong {
  font-weight: 600;
}
p {
  font-weight: 300;
}
img {
  max-width: 100%;
}
button {
  font-family: inherit;
}
.mark, mark {
  padding: .2em .5em;
  background-color: #fff200;
}
.blue {
  color: #2361eb;
}
.black {
  color: #000;
}
.add-shadow {
  box-shadow: 0 7px 30px rgba(17, 101, 219, 0.1);
}
.section-title {
  margin: 1rem 0 3rem;
}
.card-body {
  padding: 1.25rem;
}
section.lp-features,
section.lp-stats,
section.lp-products,
section.lp-hiw,
section.testimonial,
section.app-download,
section.prod-features,
section.integrations,
section.contact,
section.faq {
  padding: 3em 0;
  margin-bottom: 2em;
}
.w-100 {
  width: 100% !important;
}
.w-90 {
  width: 90% !important;
}
.w-80 {
  width: 80% !important;
}
.w-70 {
  width: 70% !important;
}
.w-60 {
  width: 60% !important;
}
.w-50 {
  width: 50% !important;
}
.w-40 {
  width: 40% !important;
}
.w-30 {
  width: 30% !important;
}
.w-25 {
  width: 25% !important;
}
.w-20 {
  width: 20% !important;
}
.alt-bg {
  background-color: #eef7fd;
}

.al-sidebar {
    width: 180px;
    top: 0px;
    left: 0;
    z-index: 100;
    display: block;
    min-height: 100%;
    background-color: #2d323e;
    height: 100%;
    position: fixed;
    box-shadow: 0px 0px 1px #808080;
}
.slimScrollDiv {
  position: relative;
  overflow: hidden;
  width: auto;
  height: auto;
}
.al-sidebar-list {
    margin: 0;
    overflow: hidden;
    padding: 18px 0 0 0;
    list-style: none;
}
.al-sidebar-list-item {
    display: block;
    position: relative;
    float: none;
    padding: 0;
}
a.al-sidebar-list-link {
    display: block;
    height: 42px;
    padding-left: 18px;
    text-shadow: none;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
a.al-sidebar-list-link i {
    margin-right: 18px;
    width: 16px;
    display: inline-block;
    font-size: 20px;
    float: left;
    text-align: center;
}
a.al-sidebar-list-link span {
    float: left;
}
a.al-sidebar-list-link:hover {
    color: #35afea;
}
.al-sidebar-sublist {
  padding: 0;
  list-style: none;
  position: relative
}
.al-sidebar-sublist > li {
    display: block;
    float: none;
    padding: 0;
    border-bottom: none;
    position: relative;
}
.al-sidebar-sublist > li a {
    display: block;
    text-shadow: none;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    padding-left: 52px;
    height: auto;
    line-height: 29px;
}
.al-main {
    margin-left: 180px;
    padding: 0px 0 34px 0;
    min-height: 500px;
    position: relative;
    background: #f5f5f5;
    float: left;
    width: 86%;
}
.al-content {
    padding: 12px;
    float: left;
    width: 100%;
    height: 100%;
}
.widget-container {
  float: left;
}
.widget-container .form-label {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #223ea2;
}
.widget-group {
  float: left;
  width: 100%;
}
.sales-graph {
  display:none;
}
.widget-group .widget-row {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.widget-group .widget-row .card {
  float: left;
  background-color: #fff!important;
  color: rgba(0,0,0,.87)!important;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  border-radius: 5px;
}
.widget-group .widget-row .card .title-box {
  float: left;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding: 8px 16px 8px 16px;
  text-align: center;
}
.widget-group .widget-row .card .title-box .title {
  font-weight: 400;
  font-size: 20px;
  color: #223ea2;
}
.widget-group .widget-row .card .content-box {
  float: left;
  width: 100%;
  padding: 10px;
}

/* Top Navigation */
.navbar {
  padding: .4rem 1rem;
}
.navbar-brand {
  margin-right: 3rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.navbar-brand img {
  max-width: 150px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
  color: #098aff;
}

ul.sub-menu {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  background-color: #f9fbfd;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
ul.sub-menu li {
  padding: .7rem 2rem;
  /*border-left: 1px solid rgba(0, 0, 0, .1);*/
  border-bottom: 3px solid transparent;
}
ul.sub-menu li:last-child {
  /*border-right: 1px solid rgba(0, 0, 0, .1);*/
}
ul.sub-menu li a {
  font-size: .9rem;
  color: #000;
  font-weight: 300;
}
ul.sub-menu li.active {
  color: #000;
  font-weight: 300;
  border-bottom-color: #098aff;
}
ul.sub-menu li a:hover, ul.sub-menu li a.active {
  color: #098aff;
  text-decoration: none;
}

.top-bar {
  box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100%;
  background: #fff;
}

.user-profile {
  float: right;
  padding: 0;
  width: 100%;
  height: 45px;
  border: 0;
  opacity: 1;
  position: relative;
  text-align: right;
}
.user-profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #ddd;
}
.user-profile span {
  height: 45px;
  display: inline-block;
  line-height: 45px;
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.demo-container {
  margin: 0px 10px;
  float: left;
  width: 48%;
}

.gauge-demo {
    height: 440px;
    width: 100%;
}

.gauge {
    width: 70%;
    height: 100%;
    margin-top: 20px;
    float: left;
}

.panel {
    width: 150px;
    text-align: left;
    margin-top: 20px;
    float: left;
}

.dx-checkbox {
    margin-bottom: 10px;
    display: block;
}

.long-title h3 {
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,.12);
}









































